*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    min-height: 100vh;
    max-height: 100vh;
}

body{
    background: linear-gradient(#000000, #660c0c);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.gradient{
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 200px;
}

.sign-up{

    background: rgb(0, 0, 0) ; 
    margin-top: 20px;
    width: 600px;
    row-gap: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;

}
#sign{
    box-shadow: 0px 1px 14px 1px rgba(0, 0, 0, 74);
}


.input-box{
    position: relative;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;

}

.imges{
    position: absolute;
    right: 0;
    top: 50%;
}

.imgs{
    position: absolute;
    right: 0;


}

.forgot{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.forgot:hover{
    color: rgb(90, 90, 90);
}

.input{
    border-radius: 6px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 400px;
    height: 40px;
}
.eremail{
    color: #ff1e00;
}
.ermdp{
    color: #ff1e00;
}
.ernom{
    color: #ff1e00;
}
.erdate{
    color: #ff1e00;
}
.erprenom{
    color: #ff1e00;
}

.submit{
    width: 300px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer ;
    font-size: 20px;
    color: #fff;
    background: linear-gradient(334deg, #000000, #660c0c, #000000);
    background-size: 180% 180%;
    animation: gradient-animation 6s ease infinite;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

@keyframes gradient-animation{
0%{
    background-position:0% 50% ;
}
50%{
    background-position:100% 50% ;
}
100%{
    background-position:0% 50% ;
}
}