span{
color: white;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 25px;
}

p{
margin: auto;
margin-top: 30px;
font-size: 50px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}

#suite{

text-align: center;

}

#bouton{

border: 1px solid white;
border-radius: 30px;
text-align: center;
padding-top: 10px;
padding-bottom: 10px;
background-color: transparent;
}

#top{
margin-top: 160px;
font-size: 140px;

}


#erreur{
border-top: 2px solid white;
font-size: 35px;
margin-bottom: 20px;
padding-top: 20px;
margin-left: 10%;
margin-right: 10%;

}

#fleche{

    margin-left: 15px;
    color: black;
    font-size: 20px;
    border-radius: 90%;
    background-color: white;
    padding-left: 7px;
    padding-right: 7px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

#bouton:hover{

color: white;
background-color: black;

}


    a{
        text-decoration: none;
    }