div {
    color: white;
}
#top{
    color: white;
    width: 800px;
    height: 800px;
    text-align: center;
    margin: auto;
}

h2{

margin-top: 20px;
}

div.top p{


font-size: 20px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
width: 500px;
height: 500px;
}


.footer{
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}