



.submit{
    margin-top: 10px;
    width: 300px;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer ;
    font-size: 20px;
    color: #fff;
    background: linear-gradient(334deg, #22B3e9, #000000, #22B3e9);
    background-size: 180% 180%;
    animation: gradient-animation 6s ease infinite;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.container{
padding: 5px;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
align-items: center;
}

.input{

    margin-bottom: 5px;
    width: 400px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 10px;
}

.option{
    text-align: center;
}

.td,.tr{
    color: white;
    text-align: center;
    width: 1000px;
    height: 50px;
}

table{
    border: solid white;
    border-radius: 15px;
}
.label{
    color: white;
    text-align: center;
}

h3{
    color: white;
    text-align: center;
}

@keyframes gradient-animation{
    0%{
        background-position:0% 50% ;
    }
    50%{
        background-position:100% 50% ;
    }
    100%{
        background-position:0% 50% ;
    }
    }

    .tableau{
        color: white;
    }
    label{
        color: white;
    }

    input{
        color: white;
    }
    .label2{
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;

    }
    .erimg, .ertype, .erref, .erdesc, .ernom{
        color: red;
    }
    .ajt_img{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .footer{
        position: absolute;
        bottom: 0;
    }
