.compteInfo {
    color: white;
}

body {
    color: white;
}

.gauche {
    font-size: 20px;
    text-align: center;
}

.droite {
    font-size: 20px;
}

.footer{    
    margin-top: 470px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#supr{
    border: 1px solid white;
    color: rgb(0, 153, 255);
    text-decoration: none;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 5px;
    background: none;
}

#supr:hover{
    transition: all ease 0.3s;
    background-color: #ff0000;
    color: black;
}