.compteInfo {
    color: white;
}

body {
    color: white;
}

.gauche {
    font-size: 20px;
    text-align: center;
}

.droite {
    font-size: 20px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
}