.footer{
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 9;
}

.admin {
    float: right;
    color: white;
    background: none;
    border-radius: 12px;
    border: 2px solid white;
    margin-right: 15px;

    height: 40px;
}

.admin:hover {
    transition: all ease 0.3s;
    background-color: #2a2e44;
}
.itemcard{
    padding: 15px;
}