#flex {
    display: flex;
    margin-left: 220px;
    margin-top: 140px;
    justify-content: space-between;
    margin-bottom: 200px;
}

p {
    color: white;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#bouton {
    border: 1px solid white;
    border-radius: 30px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: transparent;
}

body {
    background-attachment: fixed;
}

#fleche {
    margin-left: 15px;
    color: black;
    font-size: 30px;
    border-radius: 90%;
    background-color: white;
    padding-left: 7px;
    padding-right: 7px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#bouton:hover {
    transition: all ease 0.3s;
    color: white;
    background-color: black;
}

a {
    color: white;
    text-decoration: none;
}

#titre {
    font-weight: bold;
    margin-top: 170px;
    font-size: 50px;
}

#cam {

    rotate: -10deg;
    height: 100%;
    margin-right: 100px;
    margin-top: -40px;

}

#camimg {
    width: 980px;
}

span {
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.footer {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.itemcard {
    border-radius: 75px;
    border: 2px solid white;
    width: 500px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    min-height: 500px;
    width: 410px;

}

.img_card {
    margin-top: 20px;
    height: 200px;
    border-radius: 10px;
}

@media screen and (max-width:1700px) {
    .container {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr;

    }

}

@media screen and (max-width:1370px) {
    .container {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr 1fr;

    }

}

@media screen and (max-width:970px) {
    .container {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr;

    }

}

.texte {
    margin-bottom: 50px;
}

.margin {
    margin-left: 5px;
    margin-right: 5px;
}