td a {
    border: 1px solid white;
    color: rgb(0, 153, 255);
    text-decoration: none;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 5px;
}

a:hover {
    transition: all ease 0.3s;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

tbody {
    text-align: center;
}

td {
    width: 200px;
}

.detail {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin-right: 0;
}

.detail:hover {
    transition: all ease 0.3s;
    background-color: #2a2e44;
}

.td {
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer {
    margin-top: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.test2 {
    border: 1px solid white;
    color: rgb(0, 153, 255);
    text-decoration: none;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 5px;
    background: none;
}

.test2:hover {
    transition: all ease 0.3s;
    background-color: #2a2e44;
}